# Configuration de la base de données
DATABASE_URL=postgresql://postgres:2023@localhost:5432/ticketdb

# Configuration JWT
JWT_SECRET=Supersecretjwtkey

# Configuration YengaPay
YENGA_API_KEY=vRFH0eRawW702LisWcECWQOOIciMwrwj
YENGA_GROUP_ID=10823582
YENGA_PAYMENT_INTENT_ID=45842
YENGA_WEBHOOK_SECRET=78276155-1600-45ce-b161-8cc5a8194d9a

# Configuration Email
EMAIL_SERVICE=gmail
EMAIL_USER=eburtiseburtistest@gmail.com
EMAIL_PASS=rjyh ezao sdge uobf

# Configuration WhatsApp (optionnel)
TWILIO_SID=your_twilio_sid
TWILIO_AUTH_TOKEN=your_twilio_auth_token

# Configuration Frontend
FRONTEND_URL=http://localhost:5173

# Configuration du serveur
PORT=5000
NODE_ENV=development